.banner-container {
  background: var(--purple);
  border-radius: 5px;
  box-shadow: 0 5px 1px rgb(0, 0, 0, 30%);
  color: var(--white);
  padding: 15px 50px;
}

.banner-content {
  text-align: center;
  font-size: 0.95rem;
  line-height: 1.75;
}

.banner-content span {
  font-weight: bold;
}
